/BuildArtifacts
/.vs
obj
*.csproj.user
PoKompilacji
BuildArtifacts
/BibliotekiDoProjektow
/packages/NUnit.3.7.1
/nunit-agent_6852.log
/InternalTrace.8384.log
/InternalTrace.9336.Test.dll.log
/InternalTrace.9948.log
/nunit-agent_9336.log
/Test/bin/Debug
/*.log
/KISA.sln.DotSettings.user
/Common/MA.Common.Renderer2/bin
/Common/MA.Common.Renderer2/.vs/MA.Common.Renderer2/v14/.suo
/Common/TextRender/.vs/TextRender/v14/.suo
/Common/TextRender/bin
/IntegrationTest/bin/Debug/*.*
/Client/PP.Client.KartotekaDluznikaZdeduplikowanego/bin
/Server/PP.Server.KartotekaDluznikaZdeduplikowanego/bin
/Server/PP.EF.Server.Mail_Services/bin/Debug
/bin
/Common/PP.Common.Utility/bin/Release
/Data/PP.EF.Data/bin/Release
/Services/PP.EF.Server.Mail_Services/.vs/PP.EF.Server.Mail_Services/v15/Server/sqlite3
/Services/PP.EF.Server.Mail_Services/bin
/Services/PP.EF.Server.Mail_Services/.vs/PP.EF.Server.Mail_Services/v15/sqlite3/db.lock
/Services/PP.EF.Server.Mail_Services/.vs/PP.EF.Server.Mail_Services/v15/.suo
/ServiceBroker/ExternalActivator/ExternalActivatorExecute_KISA/ExternalActivatorExecute_KISA/bin
/ServiceBroker/ExternalActivator/ExternalActivatorExecute_KISA/.vs/ExternalActivatorExecute_KISA/v15/*.suo
/ServiceBroker/ExternalActivator/ExternalActivatorExecute_KISA/.vs/ExternalActivatorExecute_KISA/v15
/Server/PP.Server.SprawaKoszt/bin/Debug
/Server/PP.Server.Company/bin
/ServiceBroker/EpuExternalActivator/.vs
/ServiceBroker/EpuExternalActivator/EpuExternalActivator/bin
/ServiceBroker/EpuExternalActivator/.vs/EpuExternalActivator/v15/*.suo
bin/
/Server/PP.Server.Genesys/.vs/PP.Server.Genesys/v14/.suo
/Server/PP.Server.Genesys/.vs/PP.Server.Genesys/v15/Server/sqlite3/db.lock
/Server/PP.Server.Genesys/.vs/PP.Server.Genesys/v15/Server/sqlite3/storage.ide
/Server/PP.Server.Genesys/.vs/PP.Server.Genesys/v15/.suo
/Server/PP.Server.Genesys/Dependencies/PP.EF.Server.Utility.dll
/Server/PP.Server.Genesys.Test/Nowy dokument tekstowy.txt
.vs
